.support-title {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40%;
  background-color: #ffff00;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  color: #0000ff;
}
.support-title span {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  margin-left: -68px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000000;
}

.support-main {
  margin-top: 80px;
  margin-left: 345px;
  margin-right: 345px;
}
.support-main-desc {
  width: 414px;
  font-size: 18px;
  line-height: 150%;
  text-align: justify;
  color: #808080;
}

.support-connect {
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 345px;
  padding-right: 345px;
  background-color: #ffa500;
  border-radius: 8px;
}
.support-connect-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.support-connect-subtitle {
  margin-top: 8px;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #808080;
}
.support-connect-time {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}
.support-connect-box {
  margin-top: 80px;
}
.support-connect-item {
  width: 559px;
  padding: 40px;
  border-radius: 20px;
  background-color: #FEE6B3;
  box-shadow: 10px 10px 29px -8px rgba(0, 0, 0, 0.75);
}
.support-connect .connect-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #FF8C01;
}
.support-connect .connect-item-subtitle {
  margin-top: 20%;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.support-connect .connect-item-fm {
  margin-top: 28px;
}
.support-connect .connect-item-fm .input-bl {
  gap: 20px;
}
.support-connect .connect-item-fm .input-bl input {
  display: block;
  width: 224px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}
.support-connect .connect-item-fm .input-bl input::-moz-placeholder {
  color: #000000;
}
.support-connect .connect-item-fm .input-bl input::placeholder {
  color: #000000;
}
.support-connect .connect-item-fm textarea {
  display: block;
  width: 468px;
  height: 120px;
  margin-top: 18px;
  padding-top: 20px;
  padding-left: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.support-connect .connect-item-fm textarea::-moz-placeholder {
  color: #000000;
}
.support-connect .connect-item-fm textarea::placeholder {
  color: #000000;
}
.support-connect .connect-item-fm button {
  display: block;
  width: 183px;
  margin: 18px auto;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #FF8C01;
  border: 1px solid #FF8C01;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 120%;
  letter-spacing: 2px;
  color: #FFFFFF;
  cursor: pointer;
}/*# sourceMappingURL=Support.css.map */